@model Grand.Plugin.Misc.AppointmentBooking.Models.BookAppointmentDto
@using Grand.Plugin.Misc.AppointmentBooking.Validators
@{ Layout = "_ColumnsTwo"; }
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body class="bg-light">
    <div class="container">
        <div class="d-flex justify-content-center" style="position:relative;left:-150px;">
            <h2>Book An Appointment</h2>
        </div>
        <hr class="mb-4" />
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Your Information</h4>
                <hr class="mb-4" />
                <form asp-controller="AppointmentBooking" asp-action="SaveAppointment" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Customer Name</label>
                            <input readonly type="text" class="form-control" asp-for=@Model.CustomerName>
                            <label>Customer Id</label>
                            <input readonly id="patientsId" class="form-control" asp-for=@Model.CustomerId>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Age :</label>
                            <input type="number" id="Age" class="form-control" asp-for="Age" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                            <label class="control-label">Blood Pressure :</label>
                            <input required type="text" id="BloodPressure" class="form-control" asp-for="BloodPressure" />
                            <span asp-validation-for="BloodPressure" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Temperature :</label>
                            <input required type="text" id="Temperature" class="form-control" asp-for="Temperature" />
                            <span asp-validation-for="Temperature" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Weight :</label>
                            <input required type="text" id="Weight" class="form-control" asp-for="Weight" />
                            <span asp-validation-for="Temperature" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Choose Date :</label>
                            <input required type="date" id="Date" class="form-control" asp-for=@Model.AppointmentDate />
                            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                            @Html.ValidationMessageFor(model => model.AppointmentDate == DateTime.MinValue)
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="label-title">Vaccine:</label>
                            <select required class="form-control" asp-for="VaccineId" asp-items="@Model.VaccinesList">
                            </select>
                            <span asp-validation-for="VaccineId" class="text-danger"></span>
                            @Html.ValidationMessageFor(model => model.VaccineId == "-1")

                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-title">Doze Status:</label>
                            <select required id="doze" asp-for=@Model.Doze class="form-control">
                                <option value="-1">Select Doze</option>
                                <option value="1">First</option>
                                <option value="2">Second</option>
                            </select>
                            <span asp-validation-for="Doze" class="text-danger"></span>
                            @Html.ValidationMessageFor(model => model.Doze == "-1")

                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="control-label">Notes:</label>
                            <textarea type="textarea" id="DetailComplaints" asp-for=@Model.Remarks class="form-control"></textarea>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" id="createappointment" type="submit">Create Appointment</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

</body>


