@using Grand.Framework;
@model Grand.Plugin.Misc.AppointmentBooking.DTOs.ListAppointmentsDto
@inject Grand.Domain.Common.AdminAreaSettings adminAreaSettings

<!DOCTYPE html>
<html>
<head>
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.default.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
</head>
<body>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">My Appointments</h1>
                <p>
                    <a href="@Html.Raw(Url.Action("BookAppointment", "AppointmentBooking" ))" class="btn btn-primary">Book New Appointment</a>
                    <a href="@Html.Raw(Url.Action("Index", "Home" ))" class="btn btn-secondary">Back To Home</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div id="appointments-grid"></div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.extend-collapse').hide();
            $('.filter-text-open').hide();
            $('.filter-extend-button').click(function () {
                $('.extend-collapse').toggle("slow");
                $('.filter-text-open').toggle();
                $('.filter-text-close').toggle();
            });

            $("#appointments-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            url: "@Html.Raw(Url.Action("AppointmentList", "AppointmentBooking"))",
                            type: "POST",
                            dataType: "json",

                        },
                        update: {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json; charset=utf-8'
                            },
                            url: "@Html.Raw(Url.Action("EditAppointment", "AppointmentBooking"))",
                            type: "PUT",
                            dataType: "json",
                        },
                        destroy: {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json; charset=utf-8'
                            },
                            url: "@Html.Raw(Url.Action("DeleteAppointment", "AppointmentBooking"))",
                            type: "Delete",
                            dataType: "json"
                        },
                        parameterMap: function (model, operation) {
                            if (operation !== "read" && model) {
                                return kendo.stringify(model);
                            }
                        },
                    },
                    schema: {
                        data: 'Data',
                        total: 'Total',
                        model: {
                            id: "AppointmentId",
                            fields: {
                                AppointmentId: { editable: false, nullable: false },
                                CustomerName: { validation: { required: true } },
                                VaccineName: { type: "text", editable: false },
                                AppointmentDate: { type: "date", validation: { required: true }, editable: true, nullable: false },
                                EntryDate: { type: "date", editable: false },
                                Status: { type: "text", validation: { required: true }, editable: false },
                            },
                        },
                    },
                    requestEnd: function (e) {
                        if (e.type == "edit") {
                            alert("Successfully Updated");
                        }
                    },
                    pageSize: @(adminAreaSettings.DefaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    requestStart: function () {
                        kendo.ui.progress($('#appointments-grid'), true);
                    },
                    //requestEnd: function () {
                    //    kendo.ui.progress($('#appointments-grid'), false);
                    //},
                },

                pageable: {
                    refresh: true,
                    pageSizes: [@(adminAreaSettings.GridPageSizes)]
                },
                editable: {
                    confirmation: true,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "AppointmentId",
                        title: "Appointment Number",
                        //template: "<a href='/Admin/BookAppointment/Edit/#:Id #'>#=AppointmentId#  </a>",
                        width: 80
                    },
                    {
                        field: "CustomerName",
                        title: "Patient Name",
                        //template: "<a href='/Admin/BookAppointment/Edit/#:Id #'>#=PatientName#  </a>",
                        width: 100,
                    },
                    {
                        field: "VaccineName",
                        title: "Vaccine",
                        width: 100
                    },
                    {
                        field: "AppointmentDate",
                        title: "Appointment Date",
                        template: "#= kendo.toString(kendo.parseDate(AppointmentDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #",
                        width: 80,
                    },
                    {
                        field: "EntryDate",
                        title: "Entry Date",
                        width: 80,
                        template: "#= kendo.toString(kendo.parseDate(EntryDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                    },
                    {
                        field: "Status",
                        title: "Status",
                        width: 70,

                    },
                    {
                        command: [
                            //define the commands here
                            { name: "edit", text: "Edit" },
                            { name: "destroy", text: "Delete" },
                        ],
                        title: "Actions",
                        width: 70,
                    },


                ]
            });
        });
    </script>

</body>
</html>



